<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pepita GUI with vueJS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
    </style>

</head>


<body>
    <div id="app">
        <h1 id="headingTitle"> Pepita's energy: {{pepita.energy}}</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Pied-winged_swallow_%28Hirundo_leucosoma%29.jpg/440px-Pied-winged_swallow_%28Hirundo_leucosoma%29.jpg"
            alt="This is a bird">
        <div>
            <input type="number" placeholder="grams" v-model="grams"></input>
            <button @click="buttonEatPressed()">eat</button>
        </div>
        <div>
            <input type="number" placeholder="kilometers" v-model="kilometers"></input>
            <button @click="buttonFlyPressed()">fly </button>
        </div>
    </div>
    <script>


        //model
        class Swallow {
            constructor() {
                this.energy = 100;
            }
            eat(grams) {
                this.energy = this.energy + grams * 4;
            }
            fly(kilometers) {
                this.energy = this.energy - (40 + kilometers * 2);
            }
        }

        //viewModel
        let pepitaVM = new Vue({
            el: "#app",
            data: {
            pepita: new Swallow(),
            grams: 0,
            kilometers: 0
        },
            methods:   {
            buttonEatPressed() {
                this.pepita.eat(this.grams)
            },
            buttonFlyPressed() {
                this.pepita.fly(this.kilometers)
            }
        }
    });
    </script>
</body>
</html>